body {
  background-image: url(/images/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: 100% 100%;
}

// 正文框阴影边框
// .post {
//   border-radius: 12px 12px 12px 12px;
//   margin-top: 60px;
//   margin-bottom: 60px;
//   padding: 25px;
//   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
//   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
// }

p code {
  color: #333;
  background: #fff;
  padding: 0.1em 0.4em;
  margin: 0 0.4em;
}

td code {
  color: #333;
  background: #fff;
}

th code {
  color: #333;
  background: #fff;
  font-weight: bold;
}