$content-desktop-padding      = 50px;
$content-desktop              = 'calc(100% - %s)' % unit($content-desktop-padding / 2, 'px');
$content-desktop-large        = 900px;
$content-desktop-largest      = 61%;
$content-bg-color             = rgba(248, 244, 238, 0.9);
$border-radius-inner          = 12px;
$border-radius                = 12px;